[2022-04-12 17:37] corcoja commented on #336
Hi @tlawrie,

For what I have suggested – definitely. Now, thinking more about this, I don't see a way that we could fix this issue without front end implication.

We haven't look into encryption at all so far. Our intent for this fix is to eliminate the clear-text "passwords" sent to the front end – this is priority.

[2022-04-12 18:52] #240 closed

[2022-04-12 19:04] #275 closed, assigned to timrbula

[2022-04-12 20:14] timrbula commented on #333
@tlawrie Do you want this to be included in 3.8 or should be bump it?

[2022-04-12 20:16] timrbula commented on #321
@timrbula  Create a corresponding UI task for the above work

[2022-04-12 20:16] #321 closed

[2022-04-12 20:17] timrbula commented on #228
@tlawrie Do we want to move this to another release?

[2022-04-12 20:35] timrbula commented on #155
@timrbula finally to review this again

[2022-04-12 20:39] timrbula commented on #294
@morarucostel @gchickma Something to think on

[2022-04-12 20:43] timrbula commented on #326
- WIP but getting close to being done
- Existing and future PRs to be merged that impact multiple services

Update from @corcoja

[2022-04-12 20:45] timrbula commented on #337
@amhudson To continue with further updates

[2022-04-12 22:02] tlawrie commented on #333
Bumping to 3.9

[2022-04-12 22:37] timrbula commented on #335
not a component library issue. This affects all parameters that have a key that matches a field in the create and edit Schedule forms. I had intended to find a solution for duplicated keys but never came back to it.

[2022-04-13 11:11] tlawrie opened #338 "Refactor Google Auth to simplify required data in the Google Tasks"
The current Google Auth implementation requires users to copy the entire Service Account JSON payload into the Task.

The refactored method can use `google.auth.JWT` and only need to copy in the `client_email` and `key`

[2022-04-13 23:02] #335 closed

[2022-04-21 06:39] #338 closed

[2022-04-26 20:18] timrbula commented on #336
@BenjaminRuby to review comments

[2022-04-26 20:23] #299 closed

[2022-04-26 20:33] timrbula opened #339 "Fix security vulnerabilities"
## Description
Brief summary of what this Epic is, whether it's a larger project, goal, or user story. Describe the job to be done, which persona this Epic is mainly for, or if more multiple, break it down by user and job story.

## Impacts
Describe the functionality impacted and changes from this Epic

## Timeline
What's the timeline for this Epic, what resources are needed, and what might potent

[2022-05-02 13:46] amhudson commented on #337
To be addressed with https://github.com/boomerang-io/roadmap/issues/339

[2022-05-02 13:46] #337 closed

[2022-05-02 23:34] BenjaminRuby commented on #336
Hey @corcoja @tlawrie I like the sound of this approach. I do agree with you Tyson that we will have to have some additional communication to the user about how their password is being stored and how they can update it, also how they can run their workflow with a default password (also open to potentially renaming the workflow parameter type from password -> secured)

[2022-05-03 23:28] tlawrie opened #340 "User creation via the API creates two entities"
When a user is created via the `POST /apis/v1/users` there are two entities created in the Users collection.

The 1st entity will have the correct initial structure with the first and last loginDates

The 2nd entity will have the quotas object and no dates.

[2022-05-04 02:04] amhudson commented on #339
@morarucostel FYI https://github.com/boomerang-io/flow.service.workflow/pull/180

[2022-05-04 08:27] morarucostel commented on #336
Hey @AndreiOla ,
any progress with this one?

We need to have it in the 3.9.0 release (part of the security scan results).

[2022-05-06 16:45] morarucostel commented on #294
Just created a sample workflow with:
`Sending the mongodb query results as an attachement of an email.`

[2022-05-06 21:31] morarucostel opened #341 "Manual Approval task is missing the specifics on the configuration page"
### Describe the bug

Trying to use the `Manual Approval` task in a workflow, doesn't allow the end-user to configure its specifics, like the question being asked.

<img width="682" alt="image" src="https://user-images.githubusercontent.com/13904499/167218722-18e45f68-232a-4cc7-a168-81c1ec068c20.png">

### What project does this issue relate to?

Boomerang Flow

### To Reproduce

* create a workfl

[2022-05-06 21:46] morarucostel opened #342 "Inconsistent parallel execution results for File JSONPath to Parameter task"
### Describe the bug

Running in parallel multiple `File JSONPath to Parameter` tasks, which reads from the same file but different properties e.g. property a and property b, sometimes (not always) the following task will get only the value of a or the value of b when referencing both the $(tasks.task1.results.evaluation) and $(tasks.task2.results.evaluation).

<img width="926" alt="image" src="ht

[2022-05-06 22:35] morarucostel opened #343 "Manual Task fails to execute the 2 actions, Complete Successfully and Unsuccessfully"
### Describe the bug

Adding a `Manual Task` in a workflow, when it is executed, it fails when taking any of both actions:

When either option is selected, `Complete Successfully` or `Complete Unsuccessfully`, it quickly shows the image below, then reloads the page and brings you back to the workflow.

![image](https://user-images.githubusercontent.com/13904499/167223954-12c20a3e-87b8-4290-bfc3-bf

[2022-05-07 11:38] tlawrie commented on #342
Might need to get @amhudson or @marcusdroy involved to deep dive.

Can you check if the result parameter is right on the Tekton task? If so then it might just be a mix up in the code for saving it or retrieving it at runtime.

[2022-05-09 04:26] tlawrie opened #344 "Upgrade Tekton to 0.32.2"
This upgrade will enable many new features which are captured/tracked in the parent issue as features. As well as bring us to the release from March 2022 which is relatively recent and would stop us just prior to the deprecation of Kubernetes 1.20 from support

**Upgrade Summary**
- 0.27.3
  - compatibility with Kubernetes 1.22
- 0.28.x
  - Terminating pods so resource quotas are now able to be us

[2022-05-09 04:26] tlawrie opened #345 "Support Dot and Backet Notation in parameters"
In Tekton 0.28.x and 0.29.y support was added for Parameters with `.` notation. https://github.com/tektoncd/pipeline/pull/4215

As well as using [] with both single and double quotes https://github.com/tektoncd/pipeline/pull/4268

Bracket notation has the additional benefit of allowing users to work with parameter names containing conflicting characters like "." (e.g. $(param['my.param']) or $(par

[2022-05-09 04:26] tlawrie opened #346 "Support onError in tasks"
Supporting onError in the steps of a task. https://github.com/tektoncd/pipeline/pull/4106

As we don't currently support multi-step tasks, we don't really need support for this just yet. But worthwhile noting down.

[2022-05-09 04:27] tlawrie opened #347 "Confirm timeout still works for Task Time Out"
As part of the Tekton upgrades in 0.28.x there were [improvements made to the activeDeadlineSeconds](https://github.com/tektoncd/pipeline/pull/4217) support. Essentially this sets the kube timeout to be 1.5 times the Task timeout so that Tekton ends the tasks before Kube ends the pod.

We need to double check the implementation of Task Run timeout and ensure/validate it still works as expected.

[2022-05-09 06:58] #340 closed

[2022-05-09 08:20] morarucostel opened #348 "Quota UI dialog doesn't show the input text with the value"
### Describe the bug

Editing any of the quota values, shows the input text without the value, making it hard to update the value. It only shows the plus and minus buttons without the value.

<img width="727" alt="image" src="https://user-images.githubusercontent.com/13904499/167367667-0d00ac80-3061-4d71-a5f7-8ddc6df55d61.png">

### What project does this issue relate to?

Boomerang Flow

### To R

[2022-05-09 08:38] tlawrie commented on #297
The current CDF helm chart does not support past 0.29 of Tekton.

There is a PR in progress that would support a helm chart for the operator -> https://github.com/tektoncd/operator/pull/627 but its not ready yet.

I have, for now, used the release YAML rather than the helm chart.

**Decision**
1. Leave the helm chart as a child chart and replace when the above PR is complete
2. Remove the helm cha

[2022-05-09 08:38] tlawrie commented on #344
The current CDF helm chart does not support past 0.29 of Tekton.

There is a PR in progress that would support a helm chart for the operator -> https://github.com/tektoncd/operator/pull/627 but its not ready yet.

I have, for now, used the release YAML rather than the helm chart.

**Decision**
1. Leave the helm chart as a child chart and replace when the above PR is complete
2. Remove the helm cha

[2022-05-09 08:44] tlawrie commented on #344
Also. currently tested on Kube 1.22.6 using AKS and the YAML manifest installation method

[2022-05-09 10:25] tlawrie commented on #348
Hey @morarucostel should these bugs be tagged to a Release? or be fixed prior to 3.9.0 close out?

[2022-05-09 13:41] morarucostel opened #349 "Scheduler - Recurring via cron expression failed to get triggered"
### Describe the bug

Configuring a workflow to get trigger by a scheduler via the cron expression, fails to trigger the job.
As an example, the job was scheduled to run every hour, however it doesn't get trigger at all.

<img width="687" alt="image" src="https://user-images.githubusercontent.com/13904499/167422283-6e3fcbfa-abfb-4447-a2ba-28abde46458f.png">

### What project does this issue relate

[2022-05-09 20:28] amhudson commented on #342
I've been able to replicate but have not found the cause yet. Continuing to investigate...

[2022-05-10 06:25] AndreiOla commented on #336
@morarucostel @tlawrie
While I was making changes to the code, I noticed that for Teams, there is a different field with the password `value`. Is this one that should be filtered, or it is still the `defaultValue`?
	"name": "Test Team 2",
	"settings": {
		"properties": [
			{
				"_id": "df5f5749-4d30-41c3-803e-56b54b768407",
				**_"value": "Value",_**
				"description": "this is the description"

[2022-05-10 06:44] morarucostel commented on #336
Hey @AndreiOla ,
I did a few tests and I can't see why for the Team parameters use-case we can have the `defaultValue`.
The UI asks only for the `value` and it echos that field. The `defaultValue` is set to null, so I don't think you need to do anything on this field. Only on the `value`.

[2022-05-10 07:15] tlawrie commented on #336
@morarucostel @AndreiOla firstly, I think, before we fully implement the server-side code we should change it to type secured instead of password as @BenjaminRuby mentioned. Both frontend and backend. And do a loader for data migration.

Secondly, as for the Team parameters, there is a toggle that should make them a secured value. The defaultValue field comes from the fact that all our user entere

[2022-05-10 07:16] tlawrie commented on #336
And then we still need the UI updates to go in conjunction with this change before we can merge any backend PRs in.

[2022-05-10 08:16] AndreiOla commented on #336
@tlawrie I agree that there are better solutions, but I would like to make the most of current design, that should go into current release (3.9.0) and fix this issue with smaller steps. And then plan the migration to a secured type of field, instead of password type, which involves more complex code changes.
@morarucostel I will make changes to filter the `value` for Team->settings->properties.

[2022-05-10 09:17] morarucostel opened #350 "When scheduler toggle is active, creating a schedule is added as disabled but the scheduled instances are runned"
### Describe the bug

Trying to create a scheduled execution is adding the entry as disabled.
If the end-user goes to the Configure tab and enables the Scheduler toggle, and then goes to the Schedule tab, adding any entry in the calendar will be added as inactive (seen in the picture attached here in the `To Reproduce`).
The scheduled execution is still being triggered.

<img width="1625" alt="ima

[2022-05-10 10:44] tlawrie commented on #336
@AndreiOla from point, from a services point of view that's fine. And create a new issue for the backend model change and data migration.

But as part of resolving this issue, we will still need some of the front end changes in 3.9.0

[2022-05-10 12:59] AndreiOla commented on #336
@BenjaminRuby Should make the FE changes to send the password fields only if there is any new, valid value. Otherwise null/no value should be sent back to BE.

[2022-05-10 20:27] morarucostel commented on #344
@morarucostel can you please have a look.

[2022-05-11 13:11] morarucostel commented on #350
Hey @timrbula , @tlawrie

As seen below, all the call to the backend are successfully done, just that the entry in the calendar appears as disabled.

<img width="1497" alt="image" src="https://user-images.githubusercontent.com/13904499/167857485-af1b5309-6945-4e5f-8893-2551184a4573.png">

[2022-05-11 22:59] tlawrie commented on #350
Hi @morarucostel can you inspect the schedule create call to see what its sending in the payload. And also check the DB for what was created in the model.

This will help narrow down whether
- The Web App is sending disabled in the payload
- The backend setting it as disabled
- The response having disabled in it.

[2022-05-12 00:39] tlawrie commented on #294
hey @morarucostel were you able to figure out why these workflows couldn't be imported?

[2022-05-12 14:22] AndreiOla commented on #336
Hey @BenjaminRuby  Please treat this with priority, so we can include it in the Release.

[2022-05-12 20:38] amhudson commented on #342
Continuing to investigate. Requests from workflow look ok. However when the incorrect parameter is returned, I believe. something is going on with controller.

[2022-05-15 23:48] BenjaminRuby commented on #336
Hey @AndreiOla apologies on my slow response - I've been out of commission the last few days with the flu.

There is one scenario I think we need to consider on the UI. So we currently use the `required` boolean field on a workflow input parameter to drive validation in the form when running a workflow (i.e. if an input parameter is required - then the workflow can not be run until the user suppli

[2022-05-16 07:56] AndreiOla commented on #336
Hey @BenjaminRuby Right now the `defaultValue` (for Workflows) and `value` (for Teams) is returned as `null`. But I can set any String value, if there exists a value set in DB. So, `null` will be returned when there is no value set, and anything `not null` when there exists a value set. We can agree to return to the UI a specific String (e.g: `valueset` or just `set`) that would let the FE know th

[2022-05-16 09:11] tlawrie commented on #336
Hi @BenjaminRuby im not quite understanding the need to change the required if there is a default value. Are you saying only for a secure value this would be a problem? Because the UI gets _null_ back?

@AndreiOla the problem with returning a predefined value is collision.

Have we seen how forms of any kind do this in the web? Before we go ahead and

[2022-05-16 09:48] tlawrie commented on #336
I suggest instead of returning _null_ we return an encrypted value. Or we return a new element _hidden: true|false_

I am pretty sure UrbanCode Deploy used encrypted values. It used an encryption keystore. @gchickma any chance you remember the type of value it would return?

And Other tools in IBm have also used the hidden element

[2022-05-16 11:06] AndreiOla commented on #336
I would not transfer any secured values (encrypted or not), if there is no need for them to be transferred.
I don't quite follow the collision part. We should use a value that is definitely not a password. Maybe encrypt "set", or whatever value? This value is changed in the returned entities after the form data is saved into DB.

[2022-05-16 13:59] BenjaminRuby commented on #336
@tlawrie The approach we were going with was to be able to allow the user to not enter anything in order to run the workflow w/ their defaultValue (for password/secure input parameters).

The edge case for the UI in this approach comes if the input is specified as required and is type secure/password. Since we are getting a `null` defaultValue, we don't know if we can accept an empty input when we

[2022-05-17 10:43] tlawrie commented on #336
Hi @AndreiOla @BenjaminRuby both of those conversations make sense.

I propose we go with an additional element instead of value being returned in the payload to the UI (but not part of the model so it is never sent to the server). This ensures that no value (encrypted or not) is sent for secure when not needed, as @AndreiOla rightly mentioned.

This is an approach used in other IBM products for s

[2022-05-17 15:09] AndreiOla commented on #336
@tlawrie @BenjaminRuby If we want to go this route, I would use some field that is already defined in `AbstractConfigurationProperty`. For example set the `hidden` field in `options`  List<KeyValuePair>?

[2022-05-17 20:09] BenjaminRuby commented on #336
That approach works for me @tlawrie

[2022-05-17 22:05] BenjaminRuby commented on #336
@tlawrie @AndreiOla one final thought - is it okay to run with an empty string and access the `defaultValue` in the DB? The secure/password input is a textInput and by default will set the value as an empty string. I can manipulate the values being passed to the service after the user hits **Run** if you would prefer me to update that to be `null`

[2022-05-17 22:54] tlawrie commented on #336
Hi @AndreiOla, the OptionsList shouldn’t be used for this. It’s to provide
options as part of a select. We will need to extend the model, but not the
DB model, only the response going back to the browser.

RE the running with the defaultValue, I think we may want to have you pass
null as a transformation, because empty string is again, a value of sorts…
although would they ever be able to change t

[2022-05-18 01:40] BenjaminRuby commented on #336
@tlawrie we currently wouldn't accept an empty string if the input is required - so I think it should be fine for me to just overwrite that as `null` for being passed back to the service when running the workflow

[2022-05-18 13:29] morarucostel commented on #294
@tlawrie I can not reproduce the import failure on any Flow instances.
I tried it myself and also asked other colleagues and they were able to import them without problems in both, `My workflows` and `Team workflows`.

Could you please have a look at the logs on your side?

[2022-05-18 15:05] AndreiOla commented on #336
I added a hiddenValue field in AbstractConfigurationProperty, and only set it when there is any filtered property. Please check the PR.

[2022-05-18 15:45] morarucostel opened #351 "Importing workflow into "My Workflows" area doesn't import the workflow"
### Describe the bug

Importing a workflow into the "My Workflows" area shows in the UI's notifications area that the import was successfully, however you can not see the imported workflow in the "My Workflows" page.

The workflow is being saved in the database however is missing the "ownerUserId" key, and for that reason it is not loaded up in the "My Workflows" page.

There is no setOwnerUserId

[2022-05-18 15:56] amhudson commented on #351
@morarucostel We do record the `OwnerUserId` [here](https://github.com/boomerang-io/flow.service.workflow/blob/e9eefde2448bfa17da9cbf87281d0c61570ee4e1/src/main/java/io/boomerang/service/crud/WorkflowServiceImpl.java#L517). I'm not able to replicate. Can you give me the workflow you are trying to import?

[2022-05-19 07:09] tlawrie commented on #294
Hi Costel,

This import issue was for the workflow template. So System Workflows >
Templates

On Wed, May 18, 2022 at 11:30 PM Moraru Costel ***@***.***>
wrote:

[2022-05-19 13:21] #351 closed

[2022-05-20 23:09] tlawrie commented on #294
Hi @morarucostel checking in on this. I know there were two templates you were looking at adding but the import functionality doesn't work on the System Workflows screen.

[2022-06-07 20:08] #339 closed

[2022-06-07 20:09] #336 closed

[2022-06-07 20:17] timrbula commented on #345
@tlawrie To find the associated TEP for Tekton

[2022-06-07 20:30] timrbula commented on #345
@BenjaminRuby Can you provide some context on this from the platform's perspective? Tyson mentioned that supporting multiselect was a requested feature.

@amhudson Can you assess the technical feasibility of supporting both for accessing parameters:
- dot notation
- bracket notation w/ multiple values and `""` and `''` value quoting

[2022-06-07 20:39] timrbula commented on #242
@amhudson To take a look at this and comment

[2022-06-07 20:41] timrbula commented on #222
@timrbula to try again

[2022-06-07 20:51] timrbula commented on #343
@BenjaminRuby Do you or someone else on the team have any cycles to look at this?

[2022-06-07 20:56] timrbula commented on #326
@corcoja is this corrected scheduled for release in Flow 4.0.0?

[2022-06-07 20:57] timrbula commented on #350
@morarucostel Are you able to do the above further investigation?

[2022-06-08 14:10] corcoja commented on #326
@timrbula, yes, the target release for Eventing is `4.0.0`. I have completed the work on the main codebase for eventing and it can be already released as a **beta** feature. There are a few more outstanding items that I'm still working on:

1. Control Eventing from Settings (on/off toggle).
2. Update the models in `service.listener`.
3. Small improvements @AndreiOla that working on.
4. More testin

[2022-06-09 23:40] tlawrie commented on #326
I'm not sure if this would be in 4.0.0, as that was meant to be the re-architecture release and the eventing changes were going to be backwards compatible and could go into a 3.x.x release.

Is that still the case? or are the changes looking rather far reaching?

[2022-06-13 09:39] tlawrie opened #352 "Add Slack App API Extension"
Following on from previous attempts to add the [Slack App capabilities to the Listener service ](https://github.com/boomerang-io/flow.service.listener/blob/main/src/main/java/io/boomerang/controller/EventController.java#L113-L132) which were never finished by the community, we now need to consider next steps.

Upon investigation, it would make sense to add a `/apis/v1/extensions/slack` context and

[2022-06-13 22:50] tlawrie commented on #352
Hey @amhudson as part of this task we need to add the following to Flows settings. If you could open a draft PR for the loader, ill let you know if there is additional items to be added. Thank you!

[code]

[2022-06-14 16:05] corcoja commented on #326
Since the upgrade of CloudEvents to v3, the changes are not backwards compatible. We are making use of CloudEvents extensions which are crucial for Eventing functioning.

[2022-06-14 22:48] tlawrie commented on #326
HI @corcoja what part of the event is not backwards compatible though? they should still be able to be processed without the extensions when coming in through the listener? And the event structure shouldn't have changed even with the upgrade to v3.

[2022-06-16 00:28] tlawrie opened #353 "Incorrect logging context and DEBUG levels in Helm Chart"
The current configmap has the debug logging incorrect. Issues include
- The debug block is in there twice
- The logging contexts are net.boomerangplatform instead of io.boomearng
- The logging contexts are too specific
- The logging contexts need to include the new extensions.

[2022-06-19 22:47] tlawrie commented on #155
Hey @timrbula can you let me know what setting is needed to be added to the Settings and then made it through to the Header for the custom name? or an uploaded logo?

I know its meant to be in the header / navigation of the web app but that references an import that I think is closed source.

[2022-06-19 22:49] #353 closed

[2022-06-20 22:23] tlawrie opened #354 "Add Documentation for Flow Templates"

[2022-06-21 19:23] timrbula commented on #222
@morarucostel Can you try with the 3.9.0 build of flow.client.web?

[2022-06-21 20:23] tlawrie commented on #294
@morarucostel to re-attempt upload and then loader

[2022-06-22 11:18] tlawrie commented on #155
Hey @timrbula updates have been made to send

[code]

However, if we wanted to simplify the above payload, we could use the following

[code]

The only logic difference would be that
- The default would be the Boomerang logo + Flow text
- the end administrators couldn't customize to have a Logo and Text, it would be logo or text

[2022-06-22 11:31] tlawrie commented on #343
@morarucostel I tried to reproduce this using the latest webapp and workflow service tags, and I couldn't get it to occur.

Could you retry?

[2022-06-22 11:43] #254 closed

[2022-06-28 01:33] tlawrie commented on #325
This should be resolved by https://github.com/boomerang-io/roadmap/issues/155

@gchickma @timrbula to confirm.

[2022-06-28 07:05] tlawrie opened #355 "Update / Remove the dependent Tekton Helm chart"
The current dependent Helm chart in our Boomerang Flow chart is referencing a CDFoundation chart which is no longer maintained and cannot support Tekton > 0.29.0

The TektonCD Operator group took over this work and are producing a Helm chart wrapping the official Operator
- https://github.com/tektoncd/operator/issues/543
- https://github.com/tektoncd/pipeline/issues/1542#issuecomment-817854900

We

[2022-06-28 07:07] tlawrie commented on #355
Raised a question to determine if the official Helm chart is published to a chart repository https://github.com/tektoncd/operator/issues/873

[2022-06-28 07:08] tlawrie commented on #344
Raised a related GitHub issue to track the Helm chart dependency -> https://github.com/boomerang-io/roadmap/issues/355

[2022-06-28 09:09] tlawrie commented on #345
Hi @amhudson looking at the PR, I just want to make sure we have covered all the cases.

**References**
When I refer to the notations in the following, it means
- Dot Notation = `$(params.myparam)`
- Bracket Notation = `$(params['myparam'])` and `$(params["myparam"])`

**Current State**
Right now, the UI only deals with the parameters in standard dot notation.

At the moment, the only time that ne

[2022-06-28 13:54] timrbula commented on #325
@tlawrie Sorry don't follow here. Does this perform synchronization with team updates?

[2022-06-28 16:53] timrbula commented on #321
https://github.com/boomerang-io/flow.client.web/issues/135

[2022-06-29 06:18] tlawrie commented on #325
No, that's my mistake, thought it was the CICD header name not coming through.

[2022-06-29 06:18] tlawrie commented on #325
Back to @gchickma

[2022-06-29 10:46] morarucostel commented on #294
hey @tlawrie , the import is working, I just didn't trigger the new build, so the code was not in the latest image. Now the code is in flow-service-workflow:3.4.62 and the import is working.

<img width="1479" alt="Screenshot 2022-06-29 at 12 46 10" src="https://user-images.githubusercontent.com/13904499/176418660-632b5482-a3ed-4383-9590-985b3f2e696c.png">

[2022-06-29 10:47] morarucostel commented on #294
Something strange is happening when you open an imported workflow, it shows no nodes in the workflow.

<img width="1571" alt="Screenshot 2022-06-29 at 12 47 38" src="https://user-images.githubusercontent.com/13904499/176418871-734bdfe0-d48f-4a71-8ece-2baf016ed570.png">

[2022-06-30 21:33] #348 closed

[2022-06-30 22:40] #155 closed

[2022-06-30 22:41] #222 closed

[2022-06-30 23:04] timrbula commented on #341
@amhudson @tlawrie

This is not a front-end bug. The response coming from the service has an empty config array that determines what is rendered in the "specifics" section

[2022-07-01 02:25] timrbula commented on #341
Closed w/ a short term solution. Need to open up something larger around approvals for all scopes.

[2022-07-01 02:25] #341 closed

[2022-07-01 03:23] tlawrie opened #356 "Additional Workflow Templates"
Relates to #https://github.com/boomerang-io/roadmap/issues/294

**Additional Workflow Templates**
- GitHub Issue Cleanup Bot
- My First Automated Workflow
- Integrating with xxx (example of using and processing an API)
- Google Sheets example
- Create box folders
- Create Trello board

[2022-07-01 03:24] tlawrie commented on #294
Created new issue to track additional workflow templates. These two workflow templates are now in the loader `0.5.7`

[2022-07-01 03:24] #294 closed

[2022-07-01 03:24] #352 closed

[2022-07-01 18:47] BenjaminRuby opened #357 "Oops looks like there is an issue"
### Describe the bug

In Admin Task Manager - when trying to upload a yaml new task, you get an error that does not allow you to `create`. It appears that the **Command** field is being set on the UI to an empty array (`[]`)
<img width="657" alt="Screen Shot 2022-07-01 at 12 43 12 PM" src="https://user-images.githubusercontent.com/65971197/176953326-fe0f1014-373d-44c1-9263-89e2529adaec.png">

###

[2022-07-05 15:05] aiciobanu opened #358 "[charts] `bmrg-flow-apps-flow` ingress definition is invalid"
### Describe the bug

`bmrg-flow-apps-flow` ingress template is invalid. `annotations.kubernetes.io/ingress.class` and `spec.ingressClassName` cannot be used at the same time

### What project does this issue relate to?

Boomerang Flow

### To Reproduce

 1. Have a Kubernetes platform
 2. Deploy `bmrg-flow-4.13.3` helm chart

### Environment

Kubernetes platforms used:
 - k3d (k3s versions 1.21 an

[2022-07-06 02:17] tlawrie commented on #358
Hey @aiciobanu I checked with @morarucostel and @gchickma on the removal of the annotation in the last release 3.10. It was determined it was no longer needed to be supported as support for the annotation has been dropped many versions before, and I think has been supported since Kube 1.19 or 1.21

It would be preferable to not have to have support for it.

[2022-07-06 02:28] tlawrie commented on #345
Hey @amhudson have you been able to take a look at the above?

[2022-07-06 08:15] aiciobanu commented on #358
@tlawrie Closed the first PR and made a new one that removes the annotation

[2022-07-06 08:56] #358 closed

[2022-07-06 14:09] amhudson commented on #345
yea, but I haven't been able to circle back to it.

[2022-07-08 05:00] tlawrie opened #359 "Flow Teams not returning due to finding via HigherLevelGroupId"
Teams (and their Workflows) are not showing up on the Teams Workflows tab for Users of Internal Flow Teams (meaning not via the External Teams URL).

[2022-07-08 05:03] tlawrie commented on #359
This issue appears to be because the code block for retrieving the list of Internal Teams is team a users FlowTeams array and trying to find them via HigherLevelGroupIds.

However, they are actually the Teams _id and not a HigherLevelGroupId

![Image](https://user-images.githubusercontent.com/16438811/177920538-b27b97f0-dad0-41e2-8d66-37bd2e0f9ec5.png)

[2022-07-10 03:38] tlawrie opened #360 "Additional Setting needed for Slack Signing Secret"
An additional Setting is needed as part of the extensions configuration for the Slack signing secret

[code]

Loader to be updated with additional item.

[2022-07-18 13:07] corcoja commented on #326
We did make significant changes to the structure since the information provided by CE is richer and contains space for future expansions.

The idea was to split CE into two dedicated categories (for now at least, other categories can be added):

- Action CE.
- Status updates CE.

The category and type of the CE can be identified by parsing the subject field from the payload. We followed the CE gui

[2022-07-20 20:48] gchickma commented on #326
@corcoja Is the intent to control the proposed **Task status update** process by task type, i.e. a new attribute on the task template?  Or would all tasks types generate, at a minimum, _In progress_ and _Completed_ CE's?  If there's no concern wrt the volume of messages then I think this proposal will satisfy our internal requirements.

[2022-07-20 21:00] corcoja commented on #326
@gchickma The intent is to produce CE for all types of tasks with at least In **Progress** and **Completed/Failure** statuses.

I don't see any concerns here – NATS Streams will be configured to hold a certain amount of messages and once full, oldest messages will be discarded. The average size of trigger CE with 3 properties is around 560 characters, i. e. 560 bytes. Adding additional NATS messag

[2022-07-20 21:04] gchickma commented on #326
@corcoja Ok, so then I tender my support for the new **Task status update** proposal

@marcusdroy @tlawrie Thoughts, concerns?

[2022-07-25 00:22] tlawrie commented on #326
Hi @corcoja some great updates here and thank you for the detailed breakdown. It helps with context and understanding of the incentive from IBM.

**✅  Status CE**
I think Status Events are a great addition and always part of the roadmap.

**✅  Feature Flags**
Sounds good. I think long term we want to be able to have the CE Events be redirected to different Syncs that teams might set up. However, f

[2022-07-30 03:10] #359 closed

[2022-08-02 20:14] tlawrie commented on #343
Resolved as working in 3.10.0

[2022-08-02 20:14] #343 closed

[2022-08-02 20:29] tlawrie commented on #360
Hey @gchickma are you able to do the loader update?

[2022-08-08 14:50] dlandry318 commented on #360
Hey @tlawrie, what config will this new setting be under? e.g. Task Config, Workspace Config, etc

[2022-08-08 23:18] tlawrie commented on #360
hi @dlandry318  thanks for looking into this. Its part of the Extensions Configuration.

[2022-08-12 09:53] tlawrie commented on #326
Hi @corcoja checking in on the above thoughts.

[2022-08-12 10:03] tlawrie commented on #8
Rejecting as will no longer be needed with the new Tekton Results implementations.

[2022-08-12 10:03] #8 closed

[2022-08-12 10:03] #360 closed

[2022-08-12 10:06] tlawrie commented on #310
Fixed

![Image](https://user-images.githubusercontent.com/16438811/184332884-967bcfc8-1a76-43c5-b8e3-2a4ae63cff5c.png)

[2022-08-12 10:06] #310 closed

[2022-08-17 16:24] corcoja commented on #326
Hey @tlawrie, see my comments:

### ❓ Event Type Prefix

Not an issue, this can be easily changed, however, the feature itself is still named `Eventing` right? (for docs purposes)

### ❓ Event Type Categories / Groupings

I'm with you on event types. To summarize, the updated eventing will have the following event types:

Type | Description
-- | --
`io.boomerang.event.workflow.cancel` | Cancels a

[2022-08-17 23:05] tlawrie commented on #326
Hi @corcoja that's fantastic. Thanks for the update. One further question.

**❓ Token Element**
I'm not sure I follow this one. I think you can use the Workflow token as part of the authorization system. In that, it takes it from either the 'Authorization' header or 'access_token' URL parameter and validates that its correct for the Workflow

Are you saying, we need to do a further check as the ev

[2022-08-17 23:14] corcoja commented on #326
This is true for events passed through API calls – the token will be retrieved from `Authorization` header, `access_token` URL param or the `token` field inside CE’s payload.
But when Flow consumes the CE from NATS, token will be retrieved from the `token` field only, so in this case it is mandatory to be present and valid.

[2022-08-17 23:57] tlawrie commented on #326
Hi @corcoja that makes a lot of sense. We will have to make sure that's in the doco 👍

Let me know how you go. Do we put off the refactoring of the listener service into API until you are done?

[2022-09-02 10:38] tlawrie opened #361 "Admins not able to view all workflows"
When admins go to view a workflow from the Administer > Users or Administer > Teams views they get a 403 PERMISSION DENIED response

![Image](https://user-images.githubusercontent.com/16438811/188122443-15c0f6bc-b4f0-4d72-9288-3470fa405fa0.png)

[2022-09-03 04:17] tlawrie commented on #361
Verified as working in Flowabl environment

[2022-09-14 16:27] amhudson commented on #345
@tlawrie I have support for the following:

workflow.params['my.param']
params['my.param']
workflow.params[\"my.param\"]
params[\"my.param\"]

 Which notation(s) am I missing and can you provide me an example of how it should appear?

[2022-09-16 04:41] gchickma opened #362 "Issue with setting of output parameters on workflows with multiple set output parameter tasks"
### Describe the bug

Executing a workflow with multiple/concurrent `Set Result Parameter` tasks terminates successfully however the setting of each `key/vale` on the `outputProperties` section of the `flow_workflows_activity` record is inconsistent, i.e., in some cases a `key/value` pair is missed.

Appears to be related to https://github.com/boomerang-io/roadmap/issues/342

### What project does

[2022-09-19 19:59] #361 closed

[2022-09-20 13:10] florentinvintila opened #363 "Ooyut"
### Describe the bug

In the case of a task that is supposed to fail, for example the HTTP Task, where we have the http status codes that are failing (i.e. 404) and the task should return the status code and the “Response” but the task is not exiting with the status 0, it returns with an “exception”, exits with status 1 ```process.exit(1)```
While we see the task as failed in Flow, the parameters

[2022-09-20 20:47] tlawrie commented on #363
Hi @florentinvintila so two things.

1. Results not being populated if a task fails on non-zero exit code is actually Tekton-related logic. Tekton tracks it here: https://github.com/tektoncd/pipeline/issues/3749 and it is also tracked in TEP-0048 https://github.com/tektoncd/community/blob/main/teps/0048-task-results-without-results.md with what changes may be implemented to alter the current funct

[2022-09-22 04:58] tlawrie opened #364 "Security: Update Dependencies for Flow Worker and Interfaces"
Make dependency changes in Worker Interfaces to latest versions and then verify in the Flow Worker that everything still works and publish new worker

- [x] Switch from yarn to pnpm
- [x] Upgrade the project to ESM
- [x] Simplify project structure to a single consolidated package
- [x] Upgrade / replace dependencies
- [x] Node 18
- [ ] Release as v1.x.y

[2022-09-27 20:47] tlawrie opened #365 "Document Tekton dependency change in Docs"
Document supported and tested Tekton Versions
update Install docs

[2022-09-27 20:52] tlawrie commented on #363
Hey @amhudson @gchickma 👀

[2022-09-27 20:53] tlawrie commented on #364
@timrbula has raised a point as to whether we can upgrade the entire project to ESM and TS

[2022-09-27 22:19] tlawrie opened #366 "Charts - Upgrade AuthProxy and use open source version"
If the latest PR's from @aiciobanu have been accepted and merged in, we need to adjust the Flow helm chart to reference and utilize this version of the Auth Proxy.

As well as document the differences i.e. if you are using the basic auth from here then you need to do x

[2022-10-19 06:57] tlawrie opened #367 "Loader - Upgrade to Java 18 and newer versions of dependencies"

[2022-10-26 15:30] #362 closed

[2022-10-27 17:33] gchickma commented on #363
@tlawrie In the case @florentinvintila has described this is not a failure in or by Tekton to execute the task, it is the task definition/logic itself wanting to set an overall failure state, i.e. the user has specified conditions on the task input parameters that evaluate the execution to determine if it is an _application_ error not a _Tekton_ error per se.

So in our case with the Advanced HTTP

[2022-10-31 13:24] #342 closed

[2022-11-01 16:03] gchickma commented on #363
Hey @tlawrie when you get a chance ... thx

[2022-11-03 05:19] tlawrie opened #368 "Loader - v3 to v4 data migration"
# Flow v3 to v4 Model Changes

As part of v3 to v4, a data migration exercise is needed for the collections.

## Task Templates

- Collection: `task_templates`

| v3              | v4           | Change                                                                                                              |
| --------------- | ------------ | ---------------------------------------------------

[2022-11-03 10:31] tlawrie commented on #368
@amhudson @gchickma I have started the analysis on the data migration required. What are your thoughts on whether we bother, or if we just proceed with a partial (and some data not being available)

I.e we focus our energy on Task Templates, Workflows, Workflow Revisions, and the collection name changes. And forget about activity. It just won't be available (which may not be the worst thing longer

[2022-11-08 21:59] gchickma commented on #363
Hey @tlawrie just bugging you again ... :-)

[2022-11-09 06:39] shenqinb-star opened #369 "All workflow password-type parameters will be set to null in database after creating/updating a parameter."
### Describe the bug

All workflow password-type parameters will be set to null in database after creating/updating a parameter.

### What project does this issue relate to?

Boomerang Flow

### To Reproduce

Step 1: Open **workflow parameters** page.
Step 2: Create a password-type parameter with default value.
Step 3: Create another parameter (no matter password-type or non password-type)
Step 4:

[2022-11-13 03:07] tlawrie commented on #363
As far as I understand it when the execution fails (i.e. the process of the container exit), this constitutes a failure, as per the link I mentioned earlier.

On failure, Tekton does not try to read/store Results.

[2022-11-13 03:49] tlawrie commented on #365
Documented in the latest documentation.

[2022-11-13 03:49] #365 closed

[2022-11-13 03:49] tlawrie commented on #355
Completed on August 25th version 4.14 of Flow

[2022-11-13 03:50] #355 closed

[2022-11-13 03:58] tlawrie opened #370 "Workflow - Utilise a permissions graph for mapping objects back to a user or team"
Utilise a Gremlin style graph for allocating objects to a user or team, as Workflows and Task Templates etc no longer know what team they are a part of.

[2022-11-15 16:33] AndreiOla commented on #363
I think this PR would help us: https://github.com/tektoncd/pipeline/pull/5064
Not sure how we can show our interest in seeing this in the next release of Tekton.

[2022-11-17 19:25] tlawrie commented on #368
@gchickma @amhudson additional model comparisons updated..